@model Lab5.Models.FriendModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FriendModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idFriend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idFriend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mestoZiveenje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mestoZiveenje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
